<br>
<br>
<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %> <%= link_to "film qui déchire ca race", list_path(list) %></li>
  <% end %>
</ul>
<div class = "container">
  <%= cl_image_tag("o2dqdihqetigufxuog57",
        width: 400, height: 200, crop: :fill) %>
</div>
